# Welcome to a Jupyter Notebook!

You are in your very first Jupyter Notebook for Data Science DISCOVERY!  Notebooks allow us to combine text (like what you're reading now) with Python code. Just like learning a new spoken language, you won't learn programming languages without practice -- labs are an important part of the course to allow you to practice!

**You are not alone on your journey in learning programming!**  You have your lab Teaching Assistant ("TA"), your Course Assistants ("CAs"), your lab group, and the professors (Prof. Wade and Prof. Karle) who are all here to help you out!

- If you find yourself stuck for more than a few minutes, ask a neighbor or course staff for help!  When you are giving help to your neighbor, explain the **idea and approach** to the problem without sharing the answer itself so they can have the same **<i>ah-hah</i>** moment!

- We are here to help you! Don't feel embarrassed or shy to ask us for help!

Let's get started!

<hr style="color: #DD3403;">

# Part 1: Introduction to a Python Notebook

Every single computer is slightly different and everything has to be configured **exactly right** for Python to run.  The good news is that you only have to do your computer setup once and most of the time it just works the first time.

In this part of the lab, you will learn about the notebook environment and run your first Python code.


## Types of Cells

Jupyter notebooks are organized into rectangular **cells**.  Every **cell** will either be one of the following:

1. A **Markdown cell**, which contains text instructions (like the cell you are reading now).  **Markdown cells** will have formatted text and will have a solid background (usually solid black or white, depending on your color settings).
2. A **Python cell**, which contains Python code.  **Python cells** (which you will see shortly) will have a gray background and colored text.

## Editing Cells

Every cell can be edited by **double clicking on the cell**.

- Double click on this cell right now!
- Edit the end of this line and add your name: ➡️ Perla ⬅️

Once you are finishing editing:

- Press **CTRL + ENTER** to exit editing and "run" the cell.
- Press **CTRL + ALT + ENTER** to "run" the cell without exiting.
- Press **SHIFT + ENTER** to exit editing, "run" the cell, AND advance to the next cell.
- (Or you can also press `▶` on the left side of the cell -- this does the same as **CTRL + ALT + ENTER**.)

"Running" a Markdown cell will save it and make it part of your notebook.

## Python Cells

Python cells are cells that contain Python code -- the programming language we will use for Data Science DISCOVERY.  When you "run" a Python cell, you will run your snippet of code!

Python is a programming language that was designed to be easy and simple to use, and notebooks make it even easier to use.  The most basic operations that a computer can do are simple math.

The next cell is your first Python cell, where we already asked the computer to compute `5 + 4`:

In [1]:
5 + 4

9

### Verify Your Notebook Works

If Python is completely set up correctly, you should see a green check mark `✓` **AND** the result `9`.

- You may get a message saying: `Running cells with 'Python 3.11.3 64-bit' requires ipykernel package.` (or similar).  Click `Install` and try again.

- If this keeps happening, or you get other error messages **READ THE TEXT BELOW THE CELL**.  You may have a command you need to run in the terminal.  *(To bring up the terminal, click "Terminal -> New Terminal" at the top of VS Code.)*

- If you're confused, **ask us for help!**  It is the **most important thing that you get Python running**.

### Verify you are using Python v3 (not v2)

You need Python 3.7 (or higher) for DISCOVERY.  This line of code only runs in Python 3.7 or higher and will also print out `9`.

In [3]:
print(f"{5 + 4}")

9

If you have another green check mark `✓` **AND** the result `9`, you're completely ready to go! 🎉

- If the earlier Python code works, but this cell does not, then you're using a Python version that is too old.  Make sure you're running with Python 3.7 or later.

- You can check in the **top-right** corner which Python version you're currently using.  You can click on it to change to a different version you have installed.

## Importing Libraries

Sometimes, you'll need to import specific Python libraries in order to do different things in Python! This semester, we will be using a library called "pandas" in almost every lab. You installed pandas in `lab_prerequisite` but now we want to make sure it worked. 

Run the cell below and if you see a table of data - it worked! If you get an error, it looks like the installation you did in `lab_prerequisite` did not work! Please see your TA to help if this is the case.

In [4]:
import pandas as pd
df=pd.read_csv("https://waf.cs.illinois.edu/discovery/gpa.csv")
df

,Year,Term,YearTerm,Subject,Number,Course Title,Sched Type,A+,A,A-,...,C+,C,C-,D+,D,D-,F,W,Primary Instructor,Students
0,2024,Winter,2024-wi,ADV,150,Introduction to Advertising,ONL,22,18,1,...,0,0,0,0,0,0,0,0,"Hall, Steven R",42
1,2024,Winter,2024-wi,AFRO,100,Intro to African American St,ONL,5,8,6,...,0,1,1,0,0,0,1,0,"McMillion, Desiree Y",25
2,2024,Winter,2024-wi,ASTR,330,Extraterrestrial Life,ONL,1,16,8,...,1,0,2,0,1,0,0,0,"Dunne, Bryan C",37
3,2024,Winter,2024-wi,ATMS,120,Severe and Hazardous Weather,ONL,3,16,3,...,2,2,1,1,1,1,2,0,"Choate, Jessica J",46
4,2024,Winter,2024-wi,BADM,275,Operations Management,ONL,0,49,17,...,2,3,0,0,0,0,0,0,"Hu, Junqi",81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69107,2010,Summer,2010-su,STAT,410,Statistics and Probability II,LEC,5,10,2,...,0,1,3,0,0,0,2,1,"Stepanov, Alexei G",31
69108,2010,Summer,2010-su,STAT,440,Statistical Data Management,LEC,4,12,8,...,0,0,0,0,0,0,0,0,"Unger, David",28
69109,2010,Summer,2010-su,TAM,212,Introductory Dynamics,LEC,0,1,3,...,5,1,1,0,2,0,1,0,"Morgan, William T",28
69110,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,LCD,1,2,2,...,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie",21
69111,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,LEC,5,8,9,...,0,4,0,0,1,0,2,0,"Keane, Richard D",39

<hr style="color: #DD3403;">

# Part 2: Programming in Python

You now know your lab group!  Most labs will contain **some individual work** and **some group work**.  When you're working on the individual work in lab, you **CAN and SHOULD** talk to your lab group to help each other out.

A few tips when you get or give help:

- Don't type the answer on their keyboard, let them type it!  We're here to learn Data Science together.
- Check in on each other often -- see others are stuck!

Remember, TAs and CAs are here for you as well!  In a few cells, you'll need to know your TA and CAs names so you will have to ask them a question today! :)

## Form Your Group

Your TA should have already placed you in a group with others who have their computer set up.  However, if you have not done so already, **RIGHT NOW** find *(ideally)* two other people.

We find **groups of three work the best**, but you can be a group of **two** or a group of **four**.

- If you're at a **group of five**, split into a group of two and a group of three.  You can still help each other as a larger group, but the group questions should be answered in your smaller group of 2-4 people.
- You cannot be in a "solo group" -- if you need help finding a group partner, ask your TA or CAs! :)

## Puzzle 2.1:

Introduce yourself and meet the others in your group. Find out everyone's name and favorite number.

As you're finding this information, **double click the Python in the the following cell** to edit the values of the variable names about your group members:

- Make sure to put their names "inside of quotes" *(like what we just did)*
- Make sure to NOT put their favorite number in quotes

We'll teach what those quotes mean later in this lab!

In [6]:
# Double click to edit this cell, and then edit the following lines:

myName = "Perla Reyes"
myFavoriteNumber = 17

name2 = "shannon ahn"
favoriteNumber2 = 0

name3 = "Cameron Crawford"
favoriteNumber3 = 12




# Find out your CAs' and TA's name, too!
taName = "Michelle Adeline"
taEmail = "ma169@illinois.edu"
taFavoriteNumber = 777

caName1 = "Jaython"
caFavoriteNumber1 = 7

caName2 = "kylie"
caFavoriteNumber2 = 6

## Puzzle 2.2:

Let's review just making sure you can run a cell.  Run the following cell (click on it and do **SHIFT + ENTER** or press the `▶` button to the left of the cell) to run the code:

In [7]:
5 + 4

9

Take a close look at the Python cell after you run.  Notice above that there are two components to a single Python cell:

- The **input** area, which shows the Python code you wrote (ex: `5 + 4` above)
- The **output** area, which shows the output from the Python (ex: `9` above, the answer)

Let's have you try it! :)

## Puzzle 2.3:

In the next cell, use Python to compute the sum of **two of your group's favorite numbers**:

- Remember that you can use **SHIFT + ENTER** to exit and run the cell.

In [11]:
12+0

12

## Puzzle 2.4:

In the next cell, use Python to compute the quotient (result of division) of the **smallest favorite number divided by the largest favorite number**:
- Hint: In Python, the `/` symbol used for division.

In [13]:
0/12

0.0

Notice: Your result should be a decimal like `0.25`, a non-whole number!  There are two different types of numbers: 
- **integers** (whole numbers)
- **floating point numbers** (numbers with a decimal)

Python handles both "types" of numbers and you won't need to do anything special to work with decimals. :)

### Additional Operations

In addition to addition (`+`), subtraction (`-`), multiplication (`*`), and division (`/`), Python can also raise a number to a power (ex: $2^4$).  The syntax to do this in Python is to use `**`.

For example, the Python code for $2^4$ is:

In [9]:
2 ** 4

16

## Puzzle 2.5: Favorite Numbers to 107

For your final puzzle here, work with your group to write an expression that:
1. Uses at least two of your group's favorite numbers, **AND**
2. At least 2 different operations (`+`, `-`, `/`, `*`, `**`)

*(You can use additional numbers and operations, you need to make sure to include at least two favorite numbers and two different operations.)*

Write an expression where the output is equal to `107`.

In [18]:
12*17-97

107

<hr style="color: #DD3403;">

# Part 3. Print Statements in Python

In all of the previous puzzles, the text in the **output** was the result of your Python code.  In a notebook, the notebook will always **automatically print out the  <u>result of the last line</u> of Python code**.

Because ONLY the **last line** is automatically printed, what do you expect to happen when the following code is run?

*(Make your prediction and run the code.)*

In [19]:
10 + 10
200 + 200
3 + 3

6

## Using the `print` function

If you want to print out things that are NOT the result of the last line, Python has a **function** called `print` that will output everything between `(` and `)`.  For example, here's the same example with `print`:

In [20]:
print( 10 + 10 )
print( 200 + 200 )
print( 3 + 3 )

20
400
6

## Using Strings

In Python, we often want to print out more than just numbers.  If you want to print words out, Python **REQUIRES** that **strings** are in quotes.  You **MUST** use quotes to use a string! Numbers do not use quotes, only strings do.  One of the most simple functions is a function that prints `"Hello World"` (notice the quotes)!

The following `print` command welcomes you to DISCOVERY:

In [21]:
print("Welcome to DISCOVERY")

Welcome to DISCOVERY

Notice that **the quotes do not appear in the output**.  Instead, Python uses the quotes to know that the contents inside of the quotes are a  **string**.

If you forget to add the quotes around text that is a string, Python will provide an error message that informs you it does not understand how to run the code you typed:

In [23]:
print("Welcome to DISCOVERY")

Welcome to DISCOVERY

**Errors are what makes programming difficult and EVERYONE makes errors programming.**  You will see Professors Karle and Wade get errors in class, and that's even after programming for years!

Errors happen when Python does not understand the code you typed.  Python will do its best to give you useful information in the error message, but the messages are often generic or confusing.  However, the more you get used to understanding the error message, the easier it is to begin to understand what is wrong.

## Emojis Are Strings As Well!

Anything and everything that is not a number goes into a quotes and we will refer to these as **strings**.  This even includes emojis:

In [24]:
print("🎉")

🎉

## Puzzle 3.1:

Using the `print` function, print the **result** of the following two things on separate lines:
- $(4 * 3)^2$
- $8 - 3$

In [31]:
(4*3)**2
8-3

5

<hr style="color: #DD3403;">

# Part 4. Names in Python

*This section has been adopted from Berkeley's Data8: Lab \#1, who we have partnered with in building Data Science courses here at UIUC!*

In natural language, we have terminology that lets us quickly reference very complicated concepts. We don't say, "That's a large slow mammal with brown fur and three toes!" Instead, we just say, "**SLOTH!**"

Similarly, an effective strategy for writing code is to **define names for data as we compute it**, like a lawyer would define terms for complex ideas at the start of a legal document to simplify the rest of the writing.

In Python, we do this with assignment statements. An assignment statement has a name on the left side of an `=` sign and an expression to be evaluated on the right.

In [2]:
ten = (3 * 2) + 4

When you run that cell, Python first evaluates the first line. It computes the value of the expression `(3 * 2) + 4`, which is the number 10. Then it gives that value the name `ten`. At that point, the code in the cell is done running.

After you run that cell, the value 10 is bound to the name `ten`:

In [33]:
ten

10

The statement `ten = (3 * 2) + 4` is not asserting that ten is already equal to `(3 * 2) + 4`, as we might expect by analogy with math notation. Rather, that line of code changes what `ten` means; it now refers to the value 10, whereas before it meant nothing at all.

## Puzzle 4.1:

Try writing code that uses a name (like `eleven`) that hasn't been assigned to anything.
* Run the Cell (You should see an **ERROR** -- this is expected).

In [38]:
17

17

## Puzzle 4.2:

Now, define the value of the name that gave you an error:

In [37]:
favoriteNumber2

0

## Puzzle 4.3:

Finally, try using that name again:

In [39]:
favoriteNumber2

0

## Common Patterns with Names:

A common pattern in Jupyter notebooks is to assign a value to a name and then immediately evaluate the name in the last line of the cell so that the value is displayed as output:

In [1]:
close_to_pi = 355/113
close_to_pi

3.1415929203539825

Another common pattern is that a series of lines in a single cell will build up a complex computation in stages, naming the intermediate results.

In [41]:
paycheck = 840
monthly_salary = 2 * paycheck
number_of_months_in_a_year = 12
yearly_salary = number_of_months_in_a_year * monthly_salary
yearly_salary

20160

Names in Python can have letters (upper- and lower-case letters are both okay and count as different letters), underscores, and numbers.  There are a few rules:
- The first character can't be a number (otherwise a name might look like a number).
- Names can't contain spaces, since spaces are used to separate pieces of code from each other.

Other than those rules, what you name something doesn't matter to Python.  For example, this cell does the same thing as the above cell to compute a yearly salary, except everything has a different name (and loses all context):

In [43]:
gym_membership = 840
monthly_cost = 2 * gym_membership
number_of_months_in_a_year = 12
year_membership= number_of_months_in_a_year * monthly_cost
year_membership

20160

Names are **extremely important** for making your code readable to yourself and others. The cell above is shorter, but it's totally useless without an explanation of what it does.

## Puzzle 4.4:

Assign the name `seconds_in_a_decade` to the number of seconds between midnight on January 1, 2010 and midnight on January 1, 2020.

- You will want to think about how this is computed before you start writing code.  Pencil and paper works great!
- Any line of code in Python that begins with an `#` is a comment and is ignored by Python.  We have added some comments to help you out here.

You **MUST** use several variables in this calculation.  Simply having the final number will not earn you any points.

In [47]:
# Change the next few lines so that you compute the number of
# seconds in a decade and assign that number the name
# seconds_in_a_decade.
#
# (You will want to add other names to help you calculate
# this value.)
years_in_a_decade = 10
days_in_a_year= 365
hours_in_a_day=24 
minutes_in_a_day=60
seconds_in_a_decade =315360000 

# We've put this line in this cell so that it will print
# the value you've given to seconds_in_a_decade when you
# run it.  You don't need to change this.
seconds_in_a_decade=years_in_a_decade*days_in_a_year*hours_in_a_day*minutes_in_a_day
seconds_in_a_decade

5256000

**Extra Credit**: Is your answer as exact as possible?  You can earn +1 EC point for working with your group and making sure to account for the exact number of seconds! :)

<hr style="color: #DD3403;">

In [ ]:
## Submit Your Work!

You're almost done -- congratulations!

You need to do two more things:

1.  ⚠️ **Make certain to save your work.** ⚠️ To do this, go to **File => Save All**

2.  After you have saved, close this notebook file (but not VS Code) and follow the webpage instructions to commit this lab to your Git repository!

3. Your TA will grade your submission and provide you feedback after the lab is due.